<!DOCTYPE html>
<html lang="zh-CN" style="position: fixed; width: 100%; overflow: hidden; ">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=1200">
  <title>自定义阅读器</title>
  <link href="http://code.aidlearning.net/auto/semantic.min.css" rel="stylesheet">
  <script type="text/javascript">
    var more = false;
    function f() {
      if (more) {
        more = false;
        document.all.more.innerHTML = "[-]隐藏高级选项";
        document.all.option.style = "display:block;"
      } else {
        more = true;
        document.all.more.innerHTML = "[+]显示高级选项";
        document.all.option.style = "display:none;"
      }
    }
  </script>
</head>
<body style="position: relative; overflow-y: overlay; " data-gr-c-s-loaded="true">
  <div style="margin-top: 28px; ">
    <div class="ui main container">
      <div>
        <div class="ui existing segment">
          <div id="content" class="font-content">
            <div style="position: relative; overflow: hidden; ">
              <form action="/reader" method="get">
                <div>
                  输入目标网址：<input type="text" name="target_url">
                  <br> 
                  <span id="more" onclick="f();">[+]显示高级选项</span>
                  <div id="option" style="display:none;">
                    输入文字头标签：<input type="text" name="target_head">
                    <br>
                    输入文字尾标签：<input type="text" name="target_tail">
                    <br>
                    输入头链接变量名：<input type="text" name="pre_name">
                    <br>
                    输入尾链接变量名：<input type="text" name="next_name">
                  </div>
                </div>
                <input type="submit" value="提交">
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>